/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Oranienbaum:regular);
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #C08E9D;
    border-color: #C08E9D;
}
    .btn-primary:hover {
        background-color: #ad838f;
        border-color: #C08E9D;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #C08E9D;
    border-color: #C08E9D;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
   /* margin-bottom: 60px;*/
    background-color: #EFEBEB;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.pink-bg {
    background-color: #C08E9D;
}
.cart_icon {
    max-width: 10%;
    height: auto;
}
@media (min-width: 768px) {
    .cart_icon {
        max-width: 10%;
    }
}

.standart_black {
    color:#212529 !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background: rgba(192, 142, 157, 0.5);
    /*max-width: 1340px;*/
    width: calc(100%);
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo{
    width: 210px;
    height: 77px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav a, a:visited, a:active{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header__nav a:hover{
    text-decoration: underline;
}

.header__cart{
    width: 33px;
    height: 41px;
    cursor: pointer;
}

.header__cart img{
    object-fit: contain;
}

.header__image{
    width: 100%;
    height: 312px;
}


@media screen and (max-width: 620px) {
    header{
        width: calc(100%);
        padding: 0 10px;
    }
    .header__logo{
        display: none;
    }

    .header__nav{
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .header__nav{
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }
}

/* ================================================================= */
/* Footer */

footer {
    /*width: calc(100% - 100px);*/
    background-color: #C08E9D;
    padding: 20px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    white-space: nowrap;
}

    .footer__left a, a:visited, a:active {
        text-decoration: none;
    }

        .footer__left a:hover {
            text-decoration: underline;
        }

.footer__right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__phone {
    width: 76px;
    height: 76px;
}

.footer__contacts {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

@media screen and (max-width: 620px) {
    footer {
        width: calc(100%);
        padding: 20px 20px;
    }

    .footer__phone {
        width: 56px;
        height: 56px;
    }
}


@media screen and (max-width: 520px) {
    .footer__phone {
        display: none;
    }

    .footer__left {
        font-size: 16px;
    }

    .footer__contacts {
        font-size: 16px;
    }
}
.btn-link{
    color: white;
}

.white_link {
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    font-weight: 400;
}
    .white_link:hover {
        color: white !important;
        text-decoration: underline;
    }