@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div style="margin-top: 40px; margin-bottom: 50px;">
    <h1>Email confirmed!</h1>
    <p>
        Now you are able to <a asp-area="Identity" asp-page="/Account/Login" style="color:darkcyan">log in.</a>
    </p>
</div>