@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Magazin_Bijoux</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/MOFT-LOGO.png" alt="logo" /></a>
        </div>
        <div class="header__nav">
            <partial name="_LoginPartial" />
            <a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="header__cart">
                    <a asp-area="" asp-controller="CartItems" asp-action="Cart"><img src="~/Icons/white-shopping-cart-icon.jpg" alt="cart" /></a>
                </div>
            }
            else
            {
                <div class="header__cart">
                    <a asp-area="Identity" asp-page="/Account/Login"><img src="~/Icons/white-shopping-cart-icon.jpg" alt="cart" /></a>
                </div>
            }
            @*<partial name="_CartMenuPartial"/>*@

        </div>
    </header>
    <div class="header__image">
        <img src="~/Header_BG.png" alt="Header" />
    </div>


    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer__left">
            <a class="white_link" asp-area="" asp-controller="Home" asp-action="LegalPage">FAQ</a>
            <a class="white_link" asp-area="" asp-controller="Home" asp-action="LegalPage">Aviz juridic</a>
        </div>
        <div class="footer__right">
            <div class="footer__phone">
                <img src="~/Icons/CallIcon.png" alt="phone" />
            </div>
            <div class="footer__contacts">
                <div>MOFT-BIJOUX@gmail.com</div>
                <div>+353-989-898-98</div>
            </div>
            <div class="footer__links">
                <div class="footer__link">
                    <a href="https://www.facebook.com"><img src="~/Icons/Facebook1024.png" alt="facebook" /></a>
                </div>
                <div class="footer__link">
                    <a href="https://www.instagram.com/"><img src="~/Icons/Instagram-Logo.wine.png" alt="instagram.png" /></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
