@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>
<section class="upper__info">
    <h2>Despre noi</h2>
    <p>
        Noi oferim o gamă largă de bijuterii de înaltă calitate, potrivite
        gusturilor și stilului dvs. Indiferent de ceea ce căutați, suntem siguri
        că le veți purta. De la cele mai vândute colecții la articole în ediție
        limitată, vă garantăm că veți profita la maximum de achiziția dvs. Este
        întotdeauna un moment bun pentru a vă răsfăța cu ceva special pentru
        dvs. sau cei dragi.
    </p>
</section>
<section class="middle__info">
    <div class="middle__image">
        <img src="~/MOFT-bijuterii.png" alt="MOFT-bijuterii" />
    </div>
    <div class="middle__text">
        <h2>móft-bijuterii</h2>
        <p>
            Meriți să te simți încrezător de îndată ce îți pui bijuteriile.
            <br /><br />
            Stilul nostru este un amestec sofisticat de eleganță atemporală și
            design minimalist, cu o notă de lux. Vă oferim bijuterii pe care le
            puteți coafa în fiecare zi - cu orice ținută, pentru orice ocazie.
            <br /><br />
            Clienții noștri sunt în centrul a tot ceea ce facem. Este angajamentul
            nostru de a vă face fericit și de a continua să vă surprindem cu piese
            care vă vor face să vă simțiți că sunteți la conducere. <br /><br />
            Potențialul tău este motorul misiunii noastre! Bijuteriile noastre
            sunt aici pentru a vă ajuta să vă dezlănțuiți puterea, să vă
            împărtășiți povestea personală și să arătați lumii stilul dvs. unic.
        </p>
    </div>
</section>
<section class="footer__info">
    <div class="footer__text">
        <h2>DESPRE BIJUTERILE NOASTRE</h2>
        <p>
            De ce bijuterii din oțel inoxidabil? Primul avantaj al bijuteriilor
            din oțel inoxidabil este calitatea inalterabilă, indestructibilă,
            neschimbătoare a aliajului său. Datorită compoziției sale, cu peste
            10,5% crom, acest tip de oțel este inoxidabil. De fapt, nu ruginește
            niciodată. Acestea sunt bijuterii care durează în timp.<br /><br />

            De ce să alegeți oțel inoxidabil? Oțelul inoxidabil este foarte
            rezistent la coroziune datorită stratului protector format prin
            prezența cromului în aliaj. Balustrada ta din oțel inoxidabil nu se va
            sfărâma, nu se va rugini sau nu se va rugini în timp.<br /><br />

            Oțel chirurgical: bijuterii hipoalergenice Pentru că a alege o
            bijuterie frumoasă și a realiza că purtarea ei creează roșeață,
            mâncărime, cosuri mici sau eczeme este neplăcut și frustrant,
            bijuteriile noastre sunt din oțel chirurgical, un metal anti-alergenic
            care nu irită pielea. Oțelul chirurgical folosit este un oțel
            biocompatibil care este perfect rezistent la fluidele corporale. Evită
            alergiile și iritațiile.<br /><br />

            Cum să curățați oțelul auriu? Apa cu săpun este o modalitate eficientă
            de a curăța orice produs din oțel, atâta timp cât nu a fost puternic
            oxidat. Înmuiați o cârpă în apă amestecată cu săpun de Marsilia, apoi
            frecați-o pe suprafața de oțel. Nu uitați să uscați bine odată ce
            curățarea se simte optimă.
        </p>
    </div>
    <div class="footer__image">
        <img src="~/MOFT-despre.jpg" alt="MOFT-despre.jpg" />
    </div>
</section>