@{
    ViewData["Title"] = @localizer["about"];
}
<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>
<section class="upper__info">
    @localizer["about us"]
</section>
<section class="middle__info">
    <div class="middle__image">
        <img src="~/MOFT-bijuterii.png" alt="MOFT-bijuterii" />
    </div>
    <div class="middle__text">
        @localizer["bijoux"]
    </div>
</section>
<section class="footer__info">
    <div class="footer__text">
        @localizer["about product"]
    </div>
    <div class="footer__image">
        <img src="~/MOFT-despre.jpg" alt="MOFT-despre.jpg" />
    </div>
</section>