@model IEnumerable<Magazin_Bijoux.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<section class="home__showcase">
    <div class="home__arrow">
        <img src="~/Icons/Arrow_left.png" alt="leftArrow" />
    </div>
    <div class="home__items">
        @foreach (var item in Model) 
        {
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/@Html.DisplayFor(modelItem => item.imageURL)" alt="cardImage.png" />
            </div>
            <div class="card__text">@Html.DisplayFor(modelItem => item.name)</div>
            <div class="card__text">@Html.DisplayFor(modelItem => item.price)</div>
            <button class="card__button">Add to cart</button>
        </div>
        if (item.id.Contains('4')) break;
        }
    </div>

    <div class="home__arrow">
        <img src="~/Icons/Arrow_right.png" alt="rightArrow.png" />
    </div>
</section>

<section class="home__info">
    <div class="info__container">
        <div class="info__text">
            Noi oferim o gamă largă de bijuterii de înaltă calitate, potrivite
            gusturilor și stilului dvs. Indiferent de ceea ce căutați, suntem
            siguri că le veți purta. De la cele mai vândute colecții la articole
            în ediție limitată, vă garantăm că veți profita la maximum de
            achiziția dvs. Este întotdeauna un moment bun pentru a vă răsfăța cu
            ceva special pentru dvs. sau cei dragi.
        </div>

        <a class="info__button" style="margin-top:10px;" asp-area="" asp-controller="Home" asp-action="Shop">Shop now@*Cumpără Acum*@</a>
    </div>
    <div class="info__image">
        <img src="~/Description_Cut.png" alt="footer.jpg" />
    </div>
</section>