@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@
<head>
    <link rel="stylesheet" href="~/css/aviz.css" />
</head>
<div>
    <h1>Condiții de vânzare</h1>
    <div class="text__block">
        <h3 style="text-transform: none">Introducere</h3>
        <p>
            Condițiile generale de vânzare („CG”) detaliate mai jos se aplică
            tuturor comenzilor de produse efectuate prin intermediul site-ului
            www.moft-bijoux.com al companiei BORGO, 1 Avenue Simon Vouet, 78560 Le
            Port Marly de către client. Clientul trebuie să citească T&C-urile
            înainte de orice comandă, T&C-urile fiind disponibile pe site. În
            consecință, faptul de a plasa o comandă pe site-ul nostru reflectă
            acceptarea integrală, prealabilă și fără rezerve, a CGC de către
            client.
        </p>
    </div>
    <div class="text__container">
        <div class="text__wrapper">
            <h3>Produs</h3>
            <p>
                Produsele oferite spre vânzare sunt cele care apar pe site în ziua
                consultării acestuia de către client. Produsele sunt descrise și
                prezentate cu cea mai mare acuratețe posibilă. MOFT nu poate fi
                facut responsabil in cazul unor variatii minime intre produse si
                prezentarea acestora pe site. MOFT se angajează să livreze produse
                care îndeplinesc cerințele în vigoare referitoare la securitatea și
                sănătatea persoanelor în conformitate cu prevederile europene, și în
                special cu legislația privind substanțele chimice cu conținut
                reglementat.
            </p>
        </div>
        <div class="text__wrapper">
            <h3>Ordonat</h3>
            <p>
                Preluarea comenzii pe site este supusă respectării procedurii
                stabilite de MOFT pe site cuprinzând etape succesive care conduc la
                validarea comenzii. Clientul poate selecta oricâte produse dorește
                care vor fi adăugate în coș. Coșul rezumă produsele alese de client,
                precum și prețurile și costurile aferente acestora. Clientul poate
                modifica liber coșul înainte de a-și confirma comanda. Validarea
                comenzii merită confirmarea acceptării de către client a TGC, a
                produselor achiziționate, a prețului acestora precum și a costurilor
                asociate. Plasarea unei comenzi în numele unei alte persoane fără
                consimțământul acesteia sau plasarea unei comenzi care ar putea
                cauza prejudicii economice MOFT va face obiectul unui raport de
                poliție. MOFT își rezervă dreptul de a modifica prețurile în orice
                moment sau de a corecta prețurile incorecte. În cazul în care un
                preț a fost declarat incorect, MOFT va fi obligat să anuleze comanda
                și să ramburseze contribuțiile cât poate. Acest lucru se poate
                întâmpla în orice moment. Un e-mail de confirmare care rezumă
                comanda (produs(e), preț, disponibilitatea produsului (produselor),
                cantitatea etc.) va fi trimis clientului. În acest scop, clientul
                acceptă în mod oficial utilizarea e-mailului pentru confirmarea de
                către MOFT a conținutului comenzii sale.
            </p>
        </div>
        <div class="text__wrapper">
            <h3>Confirmare</h3>
            <p>
                Confirmare Imediat ce comanda a fost plasată, clientul va primi un
                e-mail de confirmare care include o factură electronică. Astfel,
                este important să ne furnizați o adresă de e-mail validă în timpul
                procesului de cumpărare. Vă sfătuim să înregistrați adresa de e-mail
                cu care ați plasat o comandă pentru a facilita contactarea
                serviciului nostru pentru clienți în cazul unei solicitări. E-mailul
                dvs. de confirmare servește și ca dovadă a achiziției. (document
                justificativ)
            </p>
        </div>
        <div class="text__wrapper">
            <h3>Plată</h3>
            <p>
                Plata se face online la alegerea clientului: prin Paypal sau prin
                card de credit. Toate plățile cu cardul de credit se fac prin
                platforma securizată a furnizorului nostru de plăți Stripe. MOFT nu
                prelucrează nicio dată de card de credit. Plata prin card de credit
                Cardurile acceptate sunt: Visa, Mastercard. Toate achizițiile
                efectuate pe site sunt protejate și securizate 7 zile pe săptămână
                și 24 de ore pe zi.
            </p>
        </div>
    </div>
</div>