@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<section class="home__showcase">

    <div class="home__items">
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_11.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Frangie</div>
            <div class="card__text">35$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_12.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Venus</div>
            <div class="card__text">42$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_13.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Lis</div>
            <div class="card__text">31$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_14.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Ame</div>
            <div class="card__text">53$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

    </div>

</section>

<section class="home__showcase">

    <div class="home__items">
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_3.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Venus</div>
            <div class="card__text">35$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_2.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Frangie</div>
            <div class="card__text">67$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_7.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Lis</div>
            <div class="card__text">23$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_16.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Ame</div>
            <div class="card__text">26$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

    </div>

</section>

<section class="home__showcase">

    <div class="home__items">
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_19.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Lis</div>
            <div class="card__text">37$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_9.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Lis</div>
            <div class="card__text">64$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_20.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Venus</div>
            <div class="card__text">79$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>
        <div class="home__card">
            <div class="card__image">
                <img src="~/Product_img216x288/Product216x288_21.png" alt="cardImage.png" />
            </div>
            <div class="card__text">Boucles d’oreilles Frangie</div>
            <div class="card__text">83$</div>
            <button class="card__button">Add to cart@*Adaugă în coș*@</button>
        </div>

    </div>

</section>