@model IEnumerable<Magazin_Bijoux.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<section class="home__showcase">

    <div class="home__items">
        @foreach (var item in Model)
        {
            <div class="home__card">
                <div class="card__image">
                    <img src="~/Product_img216x288/@Html.DisplayFor(modelItem => item.imageURL)" alt="cardImage.png" />
                </div>
                <div class="card__text">@Html.DisplayFor(modelItem => item.name)</div>
                <div class="card__text">@Html.DisplayFor(modelItem => item.price)</div>
                <button class="card__button">Add to cart</button>
            </div>
        }
    </div>

</section>